* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
hr {
  margin: 1.5rem 0;
}
body {
  background-color: rgb(6, 124, 104);
  margin: 1rem;
}
/* center title class with padding top and bottom of 0.6rem */
.title {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 0.6rem 0;
  width: 500px;
  font-size: 20px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
/* style h1 */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.5rem;
}
/* style p */
p {
  margin-bottom: 1.5rem;
}
/* style the button element */
button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}
/* style the image element */
img {
  display: block;
  margin: 1.5rem 0;
  width: 300px;
  height: 300px;
}
/* style the a element */
a {
  color: rgb(126, 4, 71);
}

/* style the table element with it's children */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1.5rem;
}
th,
td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border: 1px solid #ddd;
}
tr:hover {
  background-color: #f5f5f5;
}
th {
  background-color: #023f26;
  color: white;
  border: 1px solid #ddd;
}
/* style the ul and ol element */
ul,
ol {
  margin-bottom: 1.5rem;
}
/* style the li element */
li {
  margin-bottom: 0.5rem;
}
/* style the form element */
form {
  margin-bottom: 1.5rem;
}
/* style the label  element */
label {
  display: block;
  margin-bottom: 0.5rem;
}
/* style the input element */
input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}
/* style the select element */
select {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}
/* style the option element */
option {
  padding: 0.5rem;
}
/* style the textarea element */
textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}
/* style the checkbox element */
.checkbox {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}
/* style the video element */
video {
  display: block;
  margin: 1.5rem 0;
  width: 300px;
  height: 300px;
}
